# artifacts
Open-Advice.pdf
Open-Advice.epub
Open-Advice.mobi

# projects and editors
*.tdo
*.toc
*.out
*.backup
*.kate-swp
*.sw?
*.kilepr
*~

# (pdf)latex
*.xmpi
*.aux
*.log

# htlatex
*.html
*.css
*.tmp
*.4??
*.lg
*.xref
*.dvi
*.idv
